In [1]:
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np
import requests
import sqlite3
import datetime
df = pd.DataFrame({"MLS": [],"Street": [], "City":[],"List Price":[],"Bedrooms":[],"Bathrooms":[],"Square Footage":[],"Date":[]})

In [2]:
def scraping(dataframe):
    page=requests.get("http://www.slocountyhomes.com/newlistex.php")
    data=BeautifulSoup(page.text,"html.parser")
    i=0
    date=""
    date="NA"
    MLS=""
    Street=""
    City=""
    List=""
    Bed=""
    Bath=""
    Sq=0
    Date=""
    
    for table in data.find_all('td'):
        if len(table.text.split("November")) != 1:
            date = table.text
        elif table.text.strip() == "":
            if (i != 0):
                # Found missing data
                i += 1
                if (i == 7):
                    i = 0
                    #dataframe.loc[len(dataframe)]=[Bath,Bed,City,date,List,MLS,Sq,Street]
        else:
            if i == 0:
                MLS = table.text.strip()
                i += 1
            elif i == 1:
                Street = sqlize_string(table.text.strip())
                i += 1
            elif i == 2:
                City = sqlize_string(table.text.strip())
                i += 1
            elif i == 3:
                List = int(table.text.strip()[1:].replace(",",""))
                i += 1
            elif i == 4:
                Bed = int(table.text.strip())
                i += 1
            elif i == 5:
                Bath = int(table.text.strip())
                i += 1
            elif i == 6:
                Sq = int(table.text.strip())
                i = 0
                dataframe.loc[len(dataframe)]=[Bath,Bed,City,date,List,MLS,Sq,Street]
                
    dataframe=dataframe.drop_duplicates()
    return dataframe

In [3]:
def sqlize_string(string):
    return "'" + string + "'"

Lot size most important in prediction

In [4]:
df=scraping(df)

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,1073005,4,3,Arroyo Grande,1351 Newport,849000.0,3076.0,276.007802,0,None,None,1988
1,2,1072924,3,2,Atascadero,6200 Buena,399000.0,1400.0,285.000000,0,None,None,1988
2,3,1073010,3,3,Grover Beach,1239 Aberdeen,529900.0,1894.0,279.778247,0,None,None,1988
3,4,1072942,3,2,Los Osos,2570 Rodman,779000.0,2315.0,336.501080,0,None,None,1988
4,5,1073009,3,1,Morro Bay,350 Rennell,429000.0,955.0,449.214660,0,None,None,1988
5,6,1072998,3,2,Nipomo,1010 Redberry,615000.0,1890.0,325.396825,0,None,None,1988
6,7,1073004,2,2,Paso Robles,4320 Cascade,176000.0,1632.0,107.843137,0,None,None,1988
7,8,1073018,4,3,Paso Robles,5672 Silverado,505000.0,2097.0,240.820219,0,None,None,1988
8,9,1072999,7,7,Paso Robles,2710 Geneseo,699000.0,3198.0,218.574109,0,None,None,1988
9,10,1072980,4,2,San Miguel,1871 L,350000.0,1547.0,226.244344,0,None,None,1988
10,11,1072995,2,1,Santa Maria,820 Central,273000.0,732.0,372.950820,0,None,None,1988
11,12,1072988,3,2,Santa Maria,235 Cain,350000.0,1744.0,200.688073,0,None,None,1988
12,13,1072975,4,3,Santa Maria,265 Clubhouse,595000.0,2252.0,264.209591,0,None,None,1988
13,14,1072990,4,5,Templeton,1880 Burnt Rock,1095000.0,4665.0,234.726688,0,None,None,1988
14,15,1072851,1,1,Atascadero,5525 Capistrano,169900.0,640.0,265.468750,0,None,None,1989
15,16,1072989,3,3,Atascadero,6588 Serra,365000.0,1272.0,286.949686,0,None,None,1989
16,17,1072968,3,3,Atascadero,6499 Serra,369000.0,1272.0,290.094340,0,None,None,1989
17,18,1072929,1,2,Cayucos,230 Chaney,795000.0,1092.0,728.021978,0,None,None,1989
18,19,1072826,3,1,Grover Beach,163 Ocean View,439900.0,991.0,443.895055,0,None,None,1989
19,20,1072974,2,2,Grover Beach,561 14th,555000.0,1300.0,426.923077,0,None,None,1989
20,21,1072955,4,2,Lompoc,312 W,295000.0,1593.0,185.185185,0,None,None,1989
21,22,1072962,4,2,Lompoc,1001 Date,299900.0,1272.0,235.770440,0,None,None,1989
22,23,1072992,1,2,Morro Bay,449 Panay,599900.0,1240.0,483.790323,0,None,None,1989
23,24,1072907,3,2,Nipomo,708 Heather,337000.0,1296.0,260.030864,0,None,None,1989
24,25,1072913,2,2,Oceano,1430 Railroad,319000.0,865.0,368.786127,0,None,None,1989
25,26,1072972,3,2,Paso Robles,319 Primrose,365000.0,1378.0,264.876633,0,None,None,1989
26,27,1072985,4,2,Paso Robles,5695 Prancing Deer,459000.0,1861.0,246.641591,0,None,None,1989
27,28,1072969,3,2,Paso Robles,1780 Nacimiento Lake,975000.0,1800.0,541.666667,0,None,None,1989
28,29,1072965,3,3,San Luis Obispo,1053 Trevor,599000.0,1756.0,341.116173,0,None,None,1989
29,30,1072970,2,1,Santa Margarita,2430 Parkhill,399900.0,1556.0,257.005141,0,None,None,1989
...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,625,1072953,3,2,King City,613 Maple,215000.0,1282.0,167.706708,0,None,None,1990
625,626,1072944,2,2,Lompoc,1213 Cypress,165000.0,972.0,169.753086,0,None,None,1990
626,627,1072932,3,2,Los Osos,1854 7th,499000.0,1080.0,462.037037,0,None,None,1990
627,628,1072934,3,2,Paso Robles,240 Cheyenne,489900.0,2263.0,216.482545,0,None,None,1990
628,629,1072905,9,7,Paso Robles,1565 Kiler Canyon,3500000.0,5555.0,630.063006,0,None,None,1990
629,630,1072946,2,3,San Luis Obispo,3072 Rockview,570000.0,1305.0,436.781609,0,None,None,1990
630,631,1072945,2,3,San Luis Obispo,3098 Rockview,575000.0,1305.0,440.613027,0,None,None,1990
631,632,1072948,2,3,San Luis Obispo,3070 Rockview,577500.0,1385.0,416.967509,0,None,None,1990
632,633,1072956,3,3,Santa Maria,1466 Durham,377017.0,1685.0,223.748961,0,None,None,1990
633,634,1072901,2,1,Solvang,Address Not Available,415000.0,1344.0,308.779762,0,None,None,1990
634,635,1072937,4,4,Templeton,1010 Fava,875000.0,2969.0,294.712024,0,None,None,1990
635,636,1072912,2,1,Atascadero,6553 Atascadero,379000.0,996.0,380.522088,0,None,None,1991
636,637,1072922,3,3,Atascadero,3225 San Fernando,785000.0,2547.0,308.205732,0,None,None,1991
637,638,1072867,2,2,Cambria,1226 Main,239000.0,1440.0,165.972222,0,None,None,1991
638,639,1072916,3,3,Cambria,426 Cambridge,949000.0,2537.0,374.063855,0,None,None,1991
639,640,1072909,2,2,Coalinga,180 Ash,152900.0,1370.0,111.605839,0,None,None,1991
640,641,1072915,3,2,Lompoc,1332 Locust,319900.0,1052.0,304.087452,0,None,None,1991
641,642,1072904,3,2,Lompoc,2212 Gaviota,379900.0,1840.0,206.467391,0,None,None,1991
642,643,1072687,4,3,Lompoc,609 Palomar,541000.0,2631.0,205.625238,0,None,None,1991
643,644,1072834,2,1,Los Alamos,339 Centennial,359000.0,759.0,472.990777,0,None,None,1991
644,645,1072920,3,2,Out Of Area,650 Princeton,189900.0,1610.0,117.950311,0,None,None,1991
645,646,1072928,2,2,Paso Robles,141 Flag,255000.0,1120.0,227.678571,0,None,None,1991
646,647,1072927,3,2,Paso Robles,2560 Traditions Loop,579000.0,2112.0,274.147727,0,None,None,1991
647,648,1072923,3,3,Pismo Beach,71 Valley View,840000.0,1997.0,420.630946,0,None,None,1991
648,649,1072917,3,3,San Luis Obispo,464 Corrida,649000.0,1665.0,389.789790,0,None,None,1991
649,650,1072906,2,3,San Luis Obispo,10 Cottonwood,699000.0,1710.0,408.771930,0,None,None,1991
650,651,1072781,2,2,Santa Maria,3460 Santa Maria,164900.0,882.0,186.961451,0,None,None,1991
651,652,1072926,4,4,Santa Maria,1531 Penn,436675.0,2174.0,200.862466,0,None,None,1991
652,653,1072902,2,2,Santa Maria,792 Mahogany,555000.0,1627.0,341.118623,0,None,None,1991
653,654,1072925,3,3,Solvang,1400 Aarhus,835200.0,3077.0,271.433214,0,None,None,1991

In [6]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month_map = {key:int(val) for key,val in zip(months, range(1,13))}
month_map

{'April': 4,
 'August': 8,
 'December': 12,
 'February': 2,
 'January': 1,
 'July': 7,
 'June': 6,
 'March': 3,
 'May': 5,
 'November': 11,
 'October': 10,
 'September': 9}

In [7]:
conn = sqlite3.connect('slo_housing.db')
print("Opened database successfully");
stmt = "INSERT INTO HOUSES (MLS_ID,BED,BATH,CITY, ADDRESS, LIST_PRICE, SQ_FOOTAGE, PRICE_PER_SQFT, LIST_DATE) \
      VALUES ({}, {}, {}, {}, {}, {}, {}, {}, {})"
for idx, row in df.iterrows():

    conn.execute(stmt.format(row['MLS'], row['Bedrooms'], row['Bathrooms'], row['City'],
                             row['Street'], row['List Price'], row['Square Footage'],
                             int(row['List Price']) / int(row['Square Footage']), 
                             datetime.date(2016, month_map[row['Date'].split()[0]], int(row['Date'].split()[1]))
                            ));
    
    
conn.commit()
print("Records created successfully");
conn.close()

Opened database successfully
Records created successfully

In [8]:
conn = sqlite3.connect('slo_housing.db')
check = conn.execute("SELECT * FROM HOUSES")

In [9]:
df = pd.DataFrame(check.fetchall())

def get_query(query):
    var_names = ['MLS Key','Num Bedrooms','Num Bathrooms', 'City', 'Address', 'Price',
                'Sqr Footage', 'Unknown1', 'Unknown2', 'Unknown3', 'Unknown4', 'Year Sold']
    conn = sqlite3.connect('slo_housing.db')
    df = pd.DataFrame(conn.execute(query).fetchall())
    del df[0]
    df.columns = var_names
    return df

In [10]:
get_query('SELECT * FROM HOUSES').head()

,MLS Key,Num Bedrooms,Num Bathrooms,City,Address,Price,Sqr Footage,Unknown1,Unknown2,Unknown3,Unknown4,Year Sold
0,1073005,4,3,Arroyo Grande,1351 Newport,849000.0,3076.0,276.007802,0,None,None,1988
1,1072924,3,2,Atascadero,6200 Buena,399000.0,1400.0,285.000000,0,None,None,1988
2,1073010,3,3,Grover Beach,1239 Aberdeen,529900.0,1894.0,279.778247,0,None,None,1988
3,1072942,3,2,Los Osos,2570 Rodman,779000.0,2315.0,336.501080,0,None,None,1988
4,1073009,3,1,Morro Bay,350 Rennell,429000.0,955.0,449.214660,0,None,None,1988