In [2]:
from bs4 import BeautifulSoup
import pandas as pd 
import requests
import sqlite3
import datetime
df = pd.DataFrame({"MLS": [],"Street": [], "City":[],"List Price":[],"Bedrooms":[],"Bathrooms":[],"Square Footage":[],"Date":[]})

In [3]:
def scraping(dataframe):
    page=requests.get("http://www.slocountyhomes.com/newlistex.php")
    data=BeautifulSoup(page.text,"html.parser")
    i=0
    date=""
    date="NA"
    MLS=""
    Street=""
    City=""
    List=""
    Bed=""
    Bath=""
    Sq=0
    Date=""
    for table in data.find_all('td'):
        if len(table.text.split("November")) != 1:
            date = table.text
        elif table.text.strip() == "":
            i = i
        else:
            if i == 0:
                MLS = table.text.strip()
                i += 1
            elif i == 1:
                Street = sqlize_string(table.text.strip())
                i += 1
            elif i == 2:
                City = sqlize_string(table.text.strip())
                i += 1
            elif i == 3:
                List = int(table.text.strip()[1:].replace(",",""))
                i += 1
            elif i == 4:
                Bed = int(table.text.strip())
                i += 1
            elif i == 5:
                Bath = int(table.text.strip())
                i += 1
            elif i == 6:
                Sq = int(table.text.strip())
                i = 0
                dataframe.loc[len(dataframe)]=[Bath,Bed,City,date,List,MLS,Sq,Street]
                
    dataframe=dataframe.drop_duplicates()
    return dataframe

In [4]:
def sqlize_string(string):
    return "'" + string + "'"

Lot size most important in prediction

In [5]:
#for td in data.find_all('td'):
#    print(td.text.lstrip().rstrip())

In [6]:
df=scraping(df)

In [7]:
df.head(2)

,Bathrooms,Bedrooms,City,Date,List Price,MLS,Square Footage,Street
0,3.0,4.0,'Arroyo Grande',November 17,849000.0,1073005,3076.0,'1351 Newport'
1,2.0,3.0,'Atascadero',November 17,399000.0,1072924,1400.0,'6200 Buena'

In [8]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month_map = {key:int(val) for key,val in zip(months, range(1,13))}
month_map

{'April': 4,
 'August': 8,
 'December': 12,
 'February': 2,
 'January': 1,
 'July': 7,
 'June': 6,
 'March': 3,
 'May': 5,
 'November': 11,
 'October': 10,
 'September': 9}

In [9]:
def insert_houses(df):
    conn = sqlite3.connect('slo_housing.db')
    print("Opened database successfully");
    stmt = "INSERT INTO HOUSES (MLS_ID,BED,BATH,CITY, ADDRESS, LIST_PRICE, SQ_FOOTAGE, PRICE_PER_SQFT, LIST_DATE) \
          VALUES ({}, {}, {}, {}, {}, {}, {}, {}, {})"
    for idx, row in df.iterrows():
        try:
            conn.execute(stmt.format(row['MLS'], row['Bedrooms'], row['Bathrooms'], row['City'],
                                 row['Street'], row['List Price'], row['Square Footage'],
                                 int(row['List Price']) / int(row['Square Footage']), 
                                 datetime.date(2016, month_map[row['Date'].split()[0]], int(row['Date'].split()[1]))
                                ));
        except:
            print(error)
    conn.commit()
    print("Records created successfully");
    conn.close()

In [10]:
insert_houses(df)

Opened database successfully
Records created successfully

In [14]:
conn = sqlite3.connect('slo_housing.db')
check = conn.execute("SELECT * FROM HOUSES")
results = check.fetchall()
conn.close()

In [15]:
results

[(1,
  1073005,
  4,
  3,
  'Arroyo Grande',
  '1351 Newport',
  849000.0,
  3076.0,
  276.0078023407022,
  0,
  None,
  None,
  1988),
 (2,
  1072924,
  3,
  2,
  'Atascadero',
  '6200 Buena',
  399000.0,
  1400.0,
  285.0,
  0,
  None,
  None,
  1988),
 (3,
  1073010,
  3,
  3,
  'Grover Beach',
  '1239 Aberdeen',
  529900.0,
  1894.0,
  279.7782470960929,
  0,
  None,
  None,
  1988),
 (4,
  1072942,
  3,
  2,
  'Los Osos',
  '2570 Rodman',
  779000.0,
  2315.0,
  336.50107991360693,
  0,
  None,
  None,
  1988),
 (5,
  1073009,
  3,
  1,
  'Morro Bay',
  '350 Rennell',
  429000.0,
  955.0,
  449.21465968586386,
  0,
  None,
  None,
  1988),
 (6,
  1072998,
  3,
  2,
  'Nipomo',
  '1010 Redberry',
  615000.0,
  1890.0,
  325.3968253968254,
  0,
  None,
  None,
  1988),
 (7,
  1073004,
  2,
  2,
  'Paso Robles',
  '4320 Cascade',
  176000.0,
  1632.0,
  107.84313725490196,
  0,
  None,
  None,
  1988),
 (8,
  1073018,
  4,
  3,
  'Paso Robles',
  '5672 Silverado',
  505000.0,
  2097.0,
  240.8202193609919,
  0,
  None,
  None,
  1988),
 (9,
  1072999,
  7,
  7,
  'Paso Robles',
  '2710 Geneseo',
  699000.0,
  3198.0,
  218.57410881801127,
  0,
  None,
  None,
  1988),
 (10,
  1072980,
  4,
  2,
  'San Miguel',
  '1871 L',
  350000.0,
  1547.0,
  226.2443438914027,
  0,
  None,
  None,
  1988),
 (11,
  1072995,
  2,
  1,
  'Santa Maria',
  '820 Central',
  273000.0,
  732.0,
  372.95081967213116,
  0,
  None,
  None,
  1988),
 (12,
  1072988,
  3,
  2,
  'Santa Maria',
  '235 Cain',
  350000.0,
  1744.0,
  200.6880733944954,
  0,
  None,
  None,
  1988),
 (13,
  1072975,
  4,
  3,
  'Santa Maria',
  '265 Clubhouse',
  595000.0,
  2252.0,
  264.2095914742451,
  0,
  None,
  None,
  1988),
 (14,
  1072990,
  4,
  5,
  'Templeton',
  '1880 Burnt Rock',
  1095000.0,
  4665.0,
  234.7266881028939,
  0,
  None,
  None,
  1988),
 (15,
  1072851,
  1,
  1,
  'Atascadero',
  '5525 Capistrano',
  169900.0,
  640.0,
  265.46875,
  0,
  None,
  None,
  1989),
 (16,
  1072989,
  3,
  3,
  'Atascadero',
  '6588 Serra',
  365000.0,
  1272.0,
  286.9496855345912,
  0,
  None,
  None,
  1989),
 (17,
  1072968,
  3,
  3,
  'Atascadero',
  '6499 Serra',
  369000.0,
  1272.0,
  290.0943396226415,
  0,
  None,
  None,
  1989),
 (18,
  1072929,
  1,
  2,
  'Cayucos',
  '230 Chaney',
  795000.0,
  1092.0,
  728.021978021978,
  0,
  None,
  None,
  1989),
 (19,
  1072826,
  3,
  1,
  'Grover Beach',
  '163 Ocean View',
  439900.0,
  991.0,
  443.89505549949547,
  0,
  None,
  None,
  1989),
 (20,
  1072974,
  2,
  2,
  'Grover Beach',
  '561 14th',
  555000.0,
  1300.0,
  426.9230769230769,
  0,
  None,
  None,
  1989),
 (21,
  1072955,
  4,
  2,
  'Lompoc',
  '312 W',
  295000.0,
  1593.0,
  185.1851851851852,
  0,
  None,
  None,
  1989),
 (22,
  1072962,
  4,
  2,
  'Lompoc',
  '1001 Date',
  299900.0,
  1272.0,
  235.77044025157232,
  0,
  None,
  None,
  1989),
 (23,
  1072992,
  1,
  2,
  'Morro Bay',
  '449 Panay',
  599900.0,
  1240.0,
  483.7903225806452,
  0,
  None,
  None,
  1989),
 (24,
  1072907,
  3,
  2,
  'Nipomo',
  '708 Heather',
  337000.0,
  1296.0,
  260.0308641975309,
  0,
  None,
  None,
  1989),
 (25,
  1072913,
  2,
  2,
  'Oceano',
  '1430 Railroad',
  319000.0,
  865.0,
  368.78612716763007,
  0,
  None,
  None,
  1989),
 (26,
  1072972,
  3,
  2,
  'Paso Robles',
  '319 Primrose',
  365000.0,
  1378.0,
  264.8766328011611,
  0,
  None,
  None,
  1989),
 (27,
  1072985,
  4,
  2,
  'Paso Robles',
  '5695 Prancing Deer',
  459000.0,
  1861.0,
  246.64159054271897,
  0,
  None,
  None,
  1989),
 (28,
  1072969,
  3,
  2,
  'Paso Robles',
  '1780 Nacimiento Lake',
  975000.0,
  1800.0,
  541.6666666666666,
  0,
  None,
  None,
  1989),
 (29,
  1072965,
  3,
  3,
  'San Luis Obispo',
  '1053 Trevor',
  599000.0,
  1756.0,
  341.11617312072894,
  0,
  None,
  None,
  1989),
 (30,
  1072970,
  2,
  1,
  'Santa Margarita',
  '2430 Parkhill',
  399900.0,
  1556.0,
  257.0051413881748,
  0,
  None,
  None,
  1989),
 (31,
  1072993,
  2,
  2,
  'Santa Maria',
  '235 Western',
  180000.0,
  1024.0,
  175.78125,
  0,
  None,
  None,
  1989),
 (32,
  1072987,
  2,
  2,
  'Santa Maria',
  '1720 Rio Vista',
  279500.0,
  1078.0,
  259.2764378478664,
  0,
  None,
  None,
  1989),
 (33,
  1072966,
  3,
  2,
  'Santa Maria',
  '1029 Cortez',
  359900.0,
  1680.0,
  214.22619047619048,
  0,
  None,
  None,
  1989),
 (34,
  1072961,
  3,
  2,
  'Santa Maria',
  '1175 Via Pavion',
  389000.0,
  1592.0,
  244.3467336683417,
  0,
  None,
  None,
  1989),
 (35,
  1072880,
  3,
  2,
  'Santa Maria',
  '713 Riviera',
  395000.0,
  1416.0,
  278.954802259887,
  0,
  None,
  None,
  1989),
 (36,
  1072947,
  3,
  3,
  'Santa Maria',
  '408 Sword',
  519000.0,
  2654.0,
  195.55388093443858,
  0,
  None,
  None,
  1989),
 (37,
  1072622,
  4,
  4,
  'Templeton',
  '1330 Winegrape',
  879000.0,
  2937.0,
  299.2849846782431,
  0,
  None,
  None,
  1989),
 (38,
  1072933,
  2,
  2,
  'Arroyo Grande',
  '306 Hondonada',
  519000.0,
  1746.0,
  297.2508591065292,
  0,
  None,
  None,
  1990),
 (39,
  1072919,
  3,
  2,
  'Arroyo Grande',
  '327 Corona Del Terra',
  560000.0,
  1608.0,
  348.2587064676617,
  0,
  None,
  None,
  1990),
 (40,
  1072958,
  3,
  3,
  'Atascadero',
  '7777 Del Rio',
  555000.0,
  1902.0,
  291.7981072555205,
  0,
  None,
  None,
  1990),
 (41,
  1072528,
  6,
  6,
  'Cambria',
  '6050 Brighton',
  1390000.0,
  3120.0,
  445.5128205128205,
  0,
  None,
  None,
  1990),
 (42,
  1072953,
  3,
  2,
  'King City',
  '613 Maple',
  215000.0,
  1282.0,
  167.70670826833074,
  0,
  None,
  None,
  1990),
 (43,
  1072944,
  2,
  2,
  'Lompoc',
  '1213 Cypress',
  165000.0,
  972.0,
  169.7530864197531,
  0,
  None,
  None,
  1990),
 (44,
  1072932,
  3,
  2,
  'Los Osos',
  '1854 7th',
  499000.0,
  1080.0,
  462.037037037037,
  0,
  None,
  None,
  1990),
 (45,
  1072934,
  3,
  2,
  'Paso Robles',
  '240 Cheyenne',
  489900.0,
  2263.0,
  216.4825452938577,
  0,
  None,
  None,
  1990),
 (46,
  1072905,
  9,
  7,
  'Paso Robles',
  '1565 Kiler Canyon',
  3500000.0,
  5555.0,
  630.06300630063,
  0,
  None,
  None,
  1990),
 (47,
  1072946,
  2,
  3,
  'San Luis Obispo',
  '3072 Rockview',
  570000.0,
  1305.0,
  436.7816091954023,
  0,
  None,
  None,
  1990),
 (48,
  1072945,
  2,
  3,
  'San Luis Obispo',
  '3098 Rockview',
  575000.0,
  1305.0,
  440.6130268199234,
  0,
  None,
  None,
  1990),
 (49,
  1072948,
  2,
  3,
  'San Luis Obispo',
  '3070 Rockview',
  577500.0,
  1385.0,
  416.9675090252708,
  0,
  None,
  None,
  1990),
 (50,
  1072956,
  3,
  3,
  'Santa Maria',
  '1466 Durham',
  377017.0,
  1685.0,
  223.74896142433235,
  0,
  None,
  None,
  1990),
 (51,
  1072901,
  2,
  1,
  'Solvang',
  'Address Not Available',
  415000.0,
  1344.0,
  308.7797619047619,
  0,
  None,
  None,
  1990),
 (52,
  1072937,
  4,
  4,
  'Templeton',
  '1010 Fava',
  875000.0,
  2969.0,
  294.7120242505894,
  0,
  None,
  None,
  1990),
 (53,
  1072912,
  2,
  1,
  'Atascadero',
  '6553 Atascadero',
  379000.0,
  996.0,
  380.52208835341366,
  0,
  None,
  None,
  1991),
 (54,
  1072922,
  3,
  3,
  'Atascadero',
  '3225 San Fernando',
  785000.0,
  2547.0,
  308.2057322340008,
  0,
  None,
  None,
  1991),
 (55,
  1072867,
  2,
  2,
  'Cambria',
  '1226 Main',
  239000.0,
  1440.0,
  165.97222222222223,
  0,
  None,
  None,
  1991),
 (56,
  1072916,
  3,
  3,
  'Cambria',
  '426 Cambridge',
  949000.0,
  2537.0,
  374.06385494678756,
  0,
  None,
  None,
  1991),
 (57,
  1072909,
  2,
  2,
  'Coalinga',
  '180 Ash',
  152900.0,
  1370.0,
  111.60583941605839,
  0,
  None,
  None,
  1991),
 (58,
  1072915,
  3,
  2,
  'Lompoc',
  '1332 Locust',
  319900.0,
  1052.0,
  304.0874524714829,
  0,
  None,
  None,
  1991),
 (59,
  1072904,
  3,
  2,
  'Lompoc',
  '2212 Gaviota',
  379900.0,
  1840.0,
  206.4673913043478,
  0,
  None,
  None,
  1991),
 (60,
  1072687,
  4,
  3,
  'Lompoc',
  '609 Palomar',
  541000.0,
  2631.0,
  205.6252375522615,
  0,
  None,
  None,
  1991),
 (61,
  1072834,
  2,
  1,
  'Los Alamos',
  '339 Centennial',
  359000.0,
  759.0,
  472.99077733860344,
  0,
  None,
  None,
  1991),
 (62,
  1072920,
  3,
  2,
  'Out Of Area',
  '650 Princeton',
  189900.0,
  1610.0,
  117.95031055900621,
  0,
  None,
  None,
  1991),
 (63,
  1072928,
  2,
  2,
  'Paso Robles',
  '141 Flag',
  255000.0,
  1120.0,
  227.67857142857142,
  0,
  None,
  None,
  1991),
 (64,
  1072927,
  3,
  2,
  'Paso Robles',
  '2560 Traditions Loop',
  579000.0,
  2112.0,
  274.14772727272725,
  0,
  None,
  None,
  1991),
 (65,
  1072923,
  3,
  3,
  'Pismo Beach',
  '71 Valley View',
  840000.0,
  1997.0,
  420.6309464196294,
  0,
  None,
  None,
  1991),
 (66,
  1072917,
  3,
  3,
  'San Luis Obispo',
  '464 Corrida',
  649000.0,
  1665.0,
  389.7897897897898,
  0,
  None,
  None,
  1991),
 (67,
  1072906,
  2,
  3,
  'San Luis Obispo',
  '10 Cottonwood',
  769000.0,
  1710.0,
  449.7076023391813,
  0,
  None,
  None,
  1991),
 (68,
  1072781,
  2,
  2,
  'Santa Maria',
  '3460 Santa Maria',
  164900.0,
  882.0,
  186.96145124716554,
  0,
  None,
  None,
  1991),
 (69,
  1072926,
  4,
  4,
  'Santa Maria',
  '1531 Penn',
  436675.0,
  2174.0,
  200.86246550137994,
  0,
  None,
  None,
  1991),
 (70,
  1072902,
  2,
  2,
  'Santa Maria',
  '792 Mahogany',
  555000.0,
  1627.0,
  341.11862323294406,
  0,
  None,
  None,
  1991),
 (71,
  1072925,
  3,
  3,
  'Solvang',
  '1400 Aarhus',
  835200.0,
  3077.0,
  271.43321416964574,
  0,
  None,
  None,
  1991),
 (72,
  1072897,
  2,
  1,
  'Arroyo Grande',
  '541 Bakeman',
  369900.0,
  1008.0,
  366.9642857142857,
  0,
  None,
  None,
  1992),
 (73,
  1072816,
  3,
  2,
  'Atascadero',
  '8595 El Centro',
  428500.0,
  1312.0,
  326.6006097560976,
  0,
  None,
  None,
  1992),
 (74,
  1072899,
  2,
  2,
  'Cambria',
  '1226 Main',
  129000.0,
  684.0,
  188.59649122807016,
  0,
  None,
  None,
  1992),
 (75,
  1072898,
  3,
  2,
  'Santa Margarita',
  '22675 J',
  499900.0,
  1640.0,
  304.8170731707317,
  0,
  None,
  None,
  1992),
 (76,
  1072884,
  3,
  1,
  'New Cuyama',
  '4766 Cebrian',
  125000.0,
  1014.0,
  123.2741617357002,
  0,
  None,
  None,
  1993),
 (77,
  1072887,
  3,
  2,
  'Paso Robles',
  '637 Nicklaus',
  342500.0,
  1379.0,
  248.3683828861494,
  0,
  None,
  None,
  1993),
 (78,
  1072892,
  3,
  2,
  'Paso Robles',
  '6150 Burgandy',
  439000.0,
  1650.0,
  266.06060606060606,
  0,
  None,
  None,
  1993),
 (79,
  1072889,
  4,
  4,
  'Pismo Beach',
  '1284 Costa Brava',
  1490000.0,
  2814.0,
  529.495380241649,
  0,
  None,
  None,
  1993),
 (80,
  1072722,
  3,
  3,
  'San Luis Obispo',
  '949 Humbert',
  475000.0,
  1414.0,
  335.9264497878359,
  0,
  None,
  None,
  1993),
 (81,
  1072723,
  3,
  3,
  'San Luis Obispo',
  '951 Humbert',
  514900.0,
  1675.0,
  307.4029850746269,
  0,
  None,
  None,
  1993),
 (82,
  1072885,
  3,
  2,
  'San Luis Obispo',
  '850 El Capitan',
  619000.0,
  1615.0,
  383.28173374613004,
  0,
  None,
  None,
  1993),
 (83,
  1072800,
  3,
  2,
  'Santa Maria',
  '1513 Woodmere',
  389900.0,
  1516.0,
  257.18997361477574,
  0,
  None,
  None,
  1993),
 (84,
  1072894,
  3,
  2,
  'Santa Maria',
  '5880 Telephone',
  405000.0,
  1344.0,
  301.3392857142857,
  0,
  None,
  None,
  1993),
 (85,
  1072844,
  6,
  6,
  'Solvang',
  '975 Old Ranch',
  1750000.0,
  5610.0,
  311.9429590017825,
  0,
  None,
  None,
  1993),
 (86,
  1072881,
  1,
  1,
  'Arroyo Grande',
  '563 Le Point',
  529000.0,
  528.0,
  1001.8939393939394,
  0,
  None,
  None,
  1994),
 (87,
  1072825,
  3,
  4,
  'Atascadero',
  '5465 Pescado',
  683000.0,
  3008.0,
  227.06117021276594,
  0,
  None,
  None,
  1994),
 (88,
  1072864,
  3,
  2,
  'Grover Beach',
  '1294 Newport',
  494900.0,
  1528.0,
  323.8874345549738,
  0,
  None,
  None,
  1994),
 (89,
  1072820,
  4,
  3,
  'Grover Beach',
  '1 Angello Terrace',
  657000.0,
  2304.0,
  285.15625,
  0,
  None,
  None,
  1994),
 (90,
  1072855,
  4,
  2,
  'Guadalupe',
  '5217 La Purisma',
  350000.0,
  1447.0,
  241.87975120939876,
  0,
  None,
  None,
  1994),
 (91,
  1072810,
  2,
  2,
  'Los Osos',
  '1249 13th',
  489000.0,
  1769.0,
  276.4273600904466,
  0,
  None,
  None,
  1994),
 (92,
  1072853,
  3,
  2,
  'Nipomo',
  '117 Knotts',
  399900.0,
  1204.0,
  332.14285714285717,
  0,
  None,
  None,
  1994),
 (93,
  1072848,
  3,
  2,
  'Nipomo',
  '577 Belanger',
  425000.0,
  1101.0,
  386.0127157129882,
  0,
  None,
  None,
  1994),
 (94,
  1072849,
  3,
  2,
  'Paso Robles',
  '5002 Meadow Lark',
  324900.0,
  1488.0,
  218.34677419354838,
  0,
  None,
  None,
  1994),
 (95,
  1072856,
  2,
  2,
  'Paso Robles',
  '913 Turtle Creek',
  355000.0,
  1361.0,
  260.83761939750184,
  0,
  None,
  None,
  1994),
 (96,
  1072860,
  2,
  1,
  'Paso Robles',
  '4980 Farousse',
  375000.0,
  1200.0,
  312.5,
  0,
  None,
  None,
  1994),
 (97,
  1072829,
  4,
  3,
  'Paso Robles',
  '2450 Casa Blanca',
  695000.0,
  2452.0,
  283.442088091354,
  0,
  None,
  None,
  1994),
 (98,
  1072837,
  2,
  1,
  'Pismo Beach',
  '226 Castaic',
  729000.0,
  750.0,
  972.0,
  0,
  None,
  None,
  1994),
 (99,
  1072721,
  2,
  3,
  'San Luis Obispo',
  '945 Humbert',
  435000.0,
  1240.0,
  350.80645161290323,
  0,
  None,
  None,
  1994),
 (100,
  1072720,
  3,
  3,
  'San Luis Obispo',
  '943 Humbert',
  475000.0,
  1414.0,
  335.9264497878359,
  0,
  None,
  None,
  1994),
 (101,
  1072711,
  3,
  3,
  'San Luis Obispo',
  '939 Humbert',
  499000.0,
  1490.0,
  334.8993288590604,
  0,
  None,
  None,
  1994),
 (102,
  1072724,
  3,
  3,
  'San Luis Obispo',
  '953 Humbert',
  499000.0,
  1490.0,
  334.8993288590604,
  0,
  None,
  None,
  1994),
 (103,
  1072717,
  3,
  3,
  'San Luis Obispo',
  '941 Humbert',
  519900.0,
  1675.0,
  310.3880597014925,
  0,
  None,
  None,
  1994),
 (104,
  1072818,
  3,
  3,
  'San Luis Obispo',
  '5295 Ontario',
  849000.0,
  1968.0,
  431.4024390243902,
  0,
  None,
  None,
  1994),
 (105,
  1072878,
  3,
  2,
  'San Luis Obispo',
  '1932 Corralitos',
  849000.0,
  1600.0,
  530.625,
  0,
  None,
  None,
  1994),
 (106,
  1072865,
  6,
  5,
  'San Luis Obispo',
  '1346 Peach',
  950000.0,
  4200.0,
  226.1904761904762,
  0,
  None,
  None,
  1994),
 (107,
  1072854,
  2,
  1,
  'Santa Margarita',
  '4250 Parkhill',
  479000.0,
  990.0,
  483.83838383838383,
  0,
  None,
  None,
  1994),
 (108,
  1072882,
  3,
  2,
  'Santa Maria',
  '242 Monarch',
  239500.0,
  1548.0,
  154.71576227390182,
  0,
  None,
  None,
  1994),
 (109,
  1072858,
  2,
  2,
  'Santa Maria',
  '1021 Speed',
  355000.0,
  1379.0,
  257.4329224075417,
  0,
  None,
  None,
  1994),
 (110,
  1072859,
  3,
  3,
  'Santa Maria',
  '1037 Stacy Ann',
  399000.0,
  1715.0,
  232.6530612244898,
  0,
  None,
  None,
  1994),
 (111,
  1072879,
  5,
  3,
  'Santa Maria',
  '839 Elks',
  399900.0,
  1921.0,
  208.172826652785,
  0,
  None,
  None,
  1994),
 (112,
  1072872,
  4,
  4,
  'Solvang',
  '601 Valley Oak',
  869187.0,
  2304.0,
  377.2513020833333,
  0,
  None,
  None,
  1994),
 (113,
  1072852,
  5,
  4,
  'Solvang',
  '903 Nysted',
  1294000.0,
  2853.0,
  453.55765860497723,
  0,
  None,
  None,
  1994),
 (114,
  1072883,
  4,
  3,
  'Templeton',
  '675 Lincoln',
  569000.0,
  1805.0,
  315.2354570637119,
  0,
  None,
  None,
  1994)]