In [1]:
# %load house_scaper.py
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import sqlite3
import datetime

df = pd.DataFrame({"MLS": [],"Street": [], "City":[],"ListPrice":[],"Bedrooms":[],"Bathrooms":[],"SqFt":[],"Date":[],  "Price/SqFt":[]})
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
              "November", "December"]
month_map = {key: int(val) for key, val in zip(months, range(1, 13))}


def sqlize_string(string):
    return "'" + string.strip() + "'"

def get_date(string):
    chunked = string.split()
    return sqlize_string(str(datetime.date(2016, month_map[chunked[0]], int(chunked[1]))))

def scraping(dataframe):
    page = requests.get("http://www.slocountyhomes.com/newlistex.php")
    data = BeautifulSoup(page.text, "html.parser")
    hdrs = ["Bathrooms", "Bedrooms", "City", "Date", "List Price", "MLS", "Price/SqFt", "SqFt", "Street"]
    idx_map = { hdr:idx for hdr, idx in zip(hdrs, range(len(hdrs))) }


    table_rows = data.find_all('tr')
    # print(table_rows)
    listing_date = ""
    for row in table_rows:
        row_entry = [0] * len(hdrs)
        cells = row.find_all("td", recursive=True)
        if len(cells) == 1:
            listing_date = cells[0].text.strip()
            assert listing_date != ""

        elif 0 < len(cells) <= 8 and len(cells) != 3:
            ## CELL ORDER -->   MLS #	Street	City	List Price	Beds	Baths	Sq Footage
            row_entry[idx_map["MLS"]] = int(cells[0].text.strip())
            row_entry[idx_map["Street"]] = sqlize_string(cells[1].text.strip())
            row_entry[idx_map["City"]] = sqlize_string(cells[2].text.strip())
            row_entry[idx_map["List Price"]] = int(cells[3].text.strip()[1:].replace(",", ""))
            row_entry[idx_map["Bedrooms"]] = int(cells[4].text.strip())
            row_entry[idx_map["Bathrooms"]] = int(cells[5].text.strip())
            try: # handle missing Sq footage
                row_entry[idx_map["SqFt"]] = int(cells[6].text.strip())
                row_entry[idx_map["Price/SqFt"]] = row_entry[idx_map["List Price"]] / row_entry[
                    idx_map["SqFt"]]
            except ValueError:
                row_entry[idx_map["SqFt"]] = -1
            row_entry[idx_map["Date"]] = get_date(listing_date)
            ## append this row to dataframe
            # print(row_entry)
            dataframe.loc[len(dataframe)] = row_entry
    ## data integrity
    dataframe.drop(dataframe[dataframe.SqFt == -1].index, inplace=True)
    dataframe.drop_duplicates(inplace=True)
    return dataframe

In [2]:
houses = scraping(df)

In [3]:
houses.head()

,Bathrooms,Bedrooms,City,Date,ListPrice,MLS,Price/SqFt,SqFt,Street
0,1.0,2.0,'Atascadero','2016-11-23',75000.0,1073124.0,116.640747,643.0,'1242 Camino Del Robles'
1,2.0,2.0,'Atascadero','2016-11-23',185000.0,1073132.0,171.296296,1080.0,'1228 Camino Del Robles'
2,2.0,2.0,'Atascadero','2016-11-23',190000.0,1073134.0,172.570391,1101.0,'1207 Fallen Leaf'
3,2.0,3.0,'Atascadero','2016-11-23',440000.0,1073096.0,248.587571,1770.0,'4100 Nogales'
4,2.0,3.0,'Lompoc','2016-11-23',329900.0,1073121.0,259.355346,1272.0,'812 6th'

In [4]:
from sqlite_api import SLOHouseDatabase

In [5]:
slo_houses = SLOHouseDatabase()

In [6]:
slo_houses.insert_dataframe(houses)

Connected to slo_housing.db
Records created successfully

In [16]:
slo_houses.get_dataframe_from_query("SELECT * FROM HOUSES ORDER BY LIST_DATE DESCENDING")

DatabaseError: Execution failed on sql 'SELECT * FROM HOUSES ORDER BY LIST_DATE DESCENDING': near "DESCENDING": syntax error

Nov 24 -- 1180 rows

sample database to see correct schema

### add dataset from dekhtyar to HOUSING table

In [7]:
master = pd.read_csv("data/HousingSLO-Master.csv")[["Bathrooms", "Bedrooms", "City", "Date", "List Price", "MLS", "Price/SqFt", "SqFt", "Street"]]

standardize date format in DATE column

In [8]:
def parse_date(date):
    if len(date.split()) > 1:
        return get_date(date)
    else:
        chunked = date.split("/")
        return sqlize_string( str(datetime.date(2016, int(chunked[0]), int(chunked[1]))) )

In [9]:
master.Date = master.Date.apply(parse_date)
master.City = master.City.apply(sqlize_string)
master.Street = master.Street.apply(sqlize_string)

In [10]:
master.head()

,Bathrooms,Bedrooms,City,Date,List Price,MLS,Price/SqFt,SqFt,Street
0,3,3,'Lompoc','2016-10-23',370000,1072327,223.970944,1652,'629 Northbrook'
1,2,3,'Lompoc','2016-10-23',389000,1072320,217.197097,1791,'1249 Westbrook'
2,2,3,'Lompoc','2016-10-23',518000,1072319,219.491525,2360,'247 Brisa Del Mar'
3,2,2,'Morro Bay','2016-10-23',550000,1072317,563.524590,976,'2760 Cedar'
4,3,3,'Nipomo','2016-10-23',699900,1072288,301.032258,2325,'1007 Jacqueline'

In [11]:
slo_houses.insert_dataframe(master)

Connected to slo_housing.db
Records created successfully

In [12]:
results = slo_houses.get_dataframe_from_query("SELECT * FROM HOUSES JOIN MLS_LISTINGS USING (MLS_ID)")

In [13]:
results

,ID,MLS_ID,CITY,ADDRESS,BED,BATH,LIST_PRICE,SQ_FOOTAGE,PRICE_PER_SQFT,LIST_DATE,ID,SUBTYPE,AREA,YR_BUILT,LOT_SQFT,VIEW,POOL,ARB_COMISSION
0,6111,1069605,Arroyo Grande,4410 Upper Lopez Canyon,1,1,345000.0,720.0,479.0,2016-10-13,1,SFR/D,ARRG,1985,1764842,1,0,3.50
1,5878,1070362,Arroyo Grande,345 Tiger Tail,2,2,379000.0,1312.0,288.0,2016-10-21,4,SFR/A,ARRG,1976,3999,1,0,2.50
2,6092,1069663,Arroyo Grande,1164 Pacific Pointe,3,2,449000.0,1326.0,338.0,2016-10-13,5,SFR/A,ARRG,1989,3999,1,0,2.25
3,4317,1072933,Arroyo Grande,306 Hondonada,2,2,519000.0,1746.0,297.0,2016-11-15,10,SFR/D,ARRG,0,206309,1,0,2.50
4,4318,1072919,Arroyo Grande,327 Corona Del Terra,3,2,560000.0,1608.0,348.0,2016-11-15,15,SFR/D,ARRG,1975,7802,1,0,3.00
5,5900,1072029,Arroyo Grande,516 Starlight,3,2,619000.0,1587.0,390.0,2016-10-13,17,SFR/D,ARRG,1999,5232,1,0,2.50
6,5554,1072274,Arroyo Grande,658 Woodland,3,2,589000.0,1615.0,364.0,2016-10-20,18,SFR/D,ARRG,1976,8590,0,0,2.25
7,5690,1070393,Arroyo Grande,850 StageCoach,3,2,699000.0,1656.0,422.0,2016-10-24,21,SFR/D,ARRG,2004,108900,1,0,2.50
8,5852,1070568,Arroyo Grande,101 Equestrian,3,2,729900.0,2127.0,343.0,2016-10-21,22,SFR/D,ARRG,0,17533,1,0,2.50
9,6327,1067335,Arroyo Grande,331 StageCoach,3,3,775000.0,2621.0,295.0,2016-10-09,24,SFR/D,ARRG,1980,8999,1,0,2.50
10,5503,1073005,Arroyo Grande,1351 Newport,4,3,849000.0,3076.0,276.0,2016-11-17,30,SFR/D,ARRG,1960,13199,1,0,2.00
11,5709,1070980,Arroyo Grande,2357 Bittern,3,4,849999.0,2888.0,294.0,2016-10-24,31,SFR/D,ARRG,2002,11465,1,0,2.00
12,5734,1067727,Arroyo Grande,697 Avocet,4,3,898900.0,3167.0,283.0,2016-10-24,33,SFR/D,ARRG,2004,10981,1,0,2.50
13,6328,1070488,Arroyo Grande,1212 Flora,3,3,899000.0,1860.0,483.0,2016-10-09,35,SFR/D,ARRG,1984,222657,1,0,2.50
14,5533,1072241,Arroyo Grande,1160 Royal Oak,3,3,899000.0,2480.0,362.0,2016-10-21,36,SFR/D,ARRG,0,54271,1,0,2.50
15,6155,1066550,Arroyo Grande,113 Via Bandolero,3,3,925000.0,3114.0,297.0,2016-10-13,37,SFR/D,ARRG,1989,19798,1,0,2.50
16,5853,1070221,Arroyo Grande,657 Matthew,3,3,935000.0,2665.0,350.0,2016-10-21,38,SFR/D,ARRG,1999,13970,1,0,2.50
17,5710,1071411,Arroyo Grande,382 Village Glen,5,3,939900.0,2781.0,337.0,2016-10-24,39,SFR/D,ARRG,2001,19315,1,0,2.50
18,5735,1071836,Arroyo Grande,475 Via Las Aguilas,3,3,964950.0,2325.0,415.0,2016-10-24,40,SFR/D,ARRG,1996,10454,1,0,2.00
19,5652,1062676,Arroyo Grande,250 Mission Springs,4,4,1085000.0,3000.0,361.0,2016-10-24,42,SFR/D,ARRG,0,44867,1,0,1.50
20,6539,1070111,Arroyo Grande,2725 Hawk View,4,4,1125000.0,2770.0,406.0,2016-10-02,44,SFR/D,ARRG,1998,199940,1,0,3.00
21,5430,1073089,Arroyo Grande,2050 Oak,3,2,1149000.0,2291.0,501.0,2016-11-22,47,SFR/D,ARRG,1987,304920,1,0,2.50
22,6375,1066580,Arroyo Grande,462 Camino Perrillo,4,2,1196000.0,2400.0,498.0,2016-10-07,49,SFR/D,ARRG,2006,441263,1,0,2.50
23,5481,1073020,Arroyo Grande,661 Rosemary,4,3,1245000.0,3300.0,377.0,2016-11-18,54,SFR/D,ARRG,0,26088,1,0,2.00
24,5802,1070265,Arroyo Grande,185 Andre,4,4,1250000.0,3199.0,390.0,2016-10-23,56,SFR/D,ARRG,2001,15494,1,1,2.50
25,6223,1071591,Arroyo Grande,450 Canyon,4,6,1585000.0,4742.0,334.0,2016-10-05,60,SFR/D,ARRG,2008,273557,1,0,2.25
26,6396,1071670,Arroyo Grande,1084 Karina,5,4,1699000.0,4726.0,359.0,2016-09-30,61,SFR/D,ARRG,1996,108900,1,0,2.50
27,6306,1071740,Arroyo Grande,680 Meadow Oak,5,5,1799000.0,3972.0,452.0,2016-10-02,65,SFR/D,ARRG,2002,198634,1,1,2.00
28,6316,1063809,Arroyo Grande,1150 Button Sage,5,7,1850000.0,5510.0,335.0,2016-10-09,68,SFR/D,ARRG,1989,58806,1,1,2.50
29,6242,1070539,Atascadero,4680 San Vicente,3,2,355000.0,1342.0,264.0,2016-10-12,72,SFR/D,ATSC,1950,8050,1,0,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,5722,1071141,Pismo Beach,1807 Costa Brava,3,3,895000.0,1749.0,511.0,2016-10-24,496,CONDO/A,PSMO,2004,4047,1,0,2.00
200,6269,1071790,Pismo Beach,341 Stimson,2,3,895000.0,1671.0,535.0,2016-10-04,497,CONDO/A,PSMO,0,2065,1,0,2.50
201,6270,1071791,Pismo Beach,341 Stimson,2,3,895000.0,1671.0,535.0,2016-10-04,498,CONDO/A,PSMO,0,2065,1,0,2.50
202,6271,1071743,Pismo Beach,341 Stimson,2,3,899000.0,1703.0,527.0,2016-10-04,499,CONDO/A,PSMO,0,2065,1,0,2.50
203,6272,1071792,Pismo Beach,341 Stimson,3,3,899000.0,1727.0,520.0,2016-10-04,500,CONDO/A,PSMO,0,2065,1,0,2.50
204,5590,1072222,Pismo Beach,370 Wadsworth,8,3,2800000.0,3542.0,790.0,2016-10-19,501,COMRES/D,PSMO,1915,10999,1,0,2.00
205,6024,1071789,San Luis Obispo,411 Foothill,1,1,289500.0,600.0,482.0,2016-10-10,502,CONDO/A,SLO,1985,549,1,0,3.00
206,5866,1071462,San Luis Obispo,3340 Rockview,2,2,415000.0,1436.0,288.0,2016-10-21,509,CONDO/A,SLO,1982,1437,1,0,2.00
207,6407,1071682,San Luis Obispo,1218 Southwood,2,2,559000.0,1783.0,313.0,2016-09-30,514,CONDO/D,SLO,2008,1529,1,0,2.50
208,4308,1072965,San Luis Obispo,1053 Trevor,3,3,599000.0,1756.0,341.0,2016-11-16,516,CONDO/A,SLO,1989,1755,1,0,2.50
209,6278,1071768,Atascadero,7478 Santa Ysabel,2,1,205000.0,858.0,238.0,2016-10-03,525,CONDO/A,ATSC,1987,858,1,0,3.00
210,6541,1070313,Morro Bay,2101 Sunset,2,1,499000.0,970.0,514.0,2016-10-02,533,COMRES/D,MRBY,1959,5001,1,0,2.50
211,5982,1069861,Pismo Beach,150 Branch,2,2,275000.0,915.0,300.0,2016-10-19,534,CONDO/A,PSMO,2016,0,1,0,3.00
212,6142,1070145,Pismo Beach,560 Foothill,1,1,419900.0,887.0,473.0,2016-10-13,535,CONDO/A,PSMO,1989,889,1,1,3.00
213,5677,1068129,Pismo Beach,691 Price,2,2,569000.0,884.0,643.0,2016-10-24,537,CONDO/A,PSMO,2001,1276,1,0,2.50
214,5721,1070497,Pismo Beach,111 Morro,3,2,729000.0,1295.0,562.0,2016-10-24,538,CONDO/D,PSMO,2006,754,1,0,2.50
215,6495,1071536,Pismo Beach,375 San Luis,2,3,779000.0,1389.0,560.0,2016-09-26,539,CONDO/A,PSMO,2011,710,1,0,2.00
216,6496,1071545,Pismo Beach,381 San Luis,2,3,789000.0,1414.0,557.0,2016-09-26,540,CONDO/A,PSMO,2011,588,1,0,2.50
217,6341,1071065,Pismo Beach,150 Park,2,2,975000.0,1400.0,696.0,2016-10-09,542,CONDO/A,PSMO,2003,1398,1,0,2.50
218,6064,1071850,San Luis Obispo,964 Tarragon,2,3,424900.0,1417.0,299.0,2016-10-07,549,CONDO/A,SLO,2010,1416,1,0,2.50
219,6025,1071929,San Luis Obispo,20 Villa,2,2,430000.0,1002.0,429.0,2016-10-10,550,CONDO/D,SLO,1974,1002,1,0,3.00
220,5825,1072102,San Luis Obispo,2250 King,2,2,443900.0,1256.0,353.0,2016-10-15,553,CONDO/A,SLO,1980,823,1,0,2.50
221,6201,1065494,San Luis Obispo,3274 Wintergreen,2,3,469863.0,1305.0,360.0,2016-10-13,554,CONDO/A,SLO,0,536,1,0,2.50
222,5568,1072238,San Luis Obispo,880 Alyssum,2,2,529000.0,1078.0,490.0,2016-10-20,558,CONDO/A,SLO,1986,1076,1,0,2.50
223,6203,1067112,San Luis Obispo,868 Coriander,4,4,607833.0,2150.0,282.0,2016-10-13,567,CONDO/A,SLO,0,840,1,0,2.50
224,6474,1071284,Morro Bay,491 Tahiti,2,2,305000.0,842.0,362.0,2016-09-27,572,CONDO/D,MRBY,1974,841,1,0,2.50
225,5917,1072033,Pismo Beach,729 Bello,2,1,399000.0,841.0,474.0,2016-10-13,573,CONDO/A,PSMO,1985,841,1,0,2.50
226,5678,1068689,Pismo Beach,1870 Costa Del Sol,3,3,659000.0,1499.0,439.0,2016-10-24,577,CONDO/A,PSMO,2004,3088,1,0,2.50
227,6406,1071648,San Luis Obispo,2221 King,2,2,449900.0,1192.0,377.0,2016-09-30,578,CONDO/A,SLO,1988,1307,1,0,2.50
228,5920,1071943,San Luis Obispo,3591 Sacramento,3,3,549000.0,1659.0,330.0,2016-10-13,581,CONDO/A,SLO,2007,3485,1,0,2.50

Nov 24 -- 229 rows